@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "orkney-regular";
  font-style: regular;
  font-weight: 400;
  src: url("/fonts/Orkney-Regular.otf") format("truetype");
}

* {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  color: #1b1f21;
}
html {
  overflow-x: hidden;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.btn2 span:first-child {
  transform: translateX(-101%);
  transition: transform 0.3s ease-in;
}
.btn2:hover span {
  transform: translateX(0);
}

.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
/* #font_popins {
  font-family: "";
} */
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
